j-enterprise-service-bus/tmp/hello.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://examples/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://examples/" name="HelloWorldService">
	<types>
		<xsd:schema targetNamespace="http://examples/">
			<xsd:element name="sayHelloWorld">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sayHelloWorldResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="phrase" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MissingName" type="xsd:string" />
		</xsd:schema>
	</types>
	<message name="sayHelloWorld">
		<part name="parameters" element="tns:sayHelloWorld" />
	</message>
	<message name="sayHelloWorldResponse">
		<part name="parameters" element="tns:sayHelloWorldResponse" />
	</message>
	<message name="MissingName">
		<part name="fault" element="tns:MissingName" />
	</message>
	<portType name="HelloWorld">
		<operation name="sayHelloWorld">
			<input message="tns:sayHelloWorld" />
			<output message="tns:sayHelloWorldResponse" />
			<fault message="tns:MissingName" name="MissingName" />
		</operation>
	</portType>
	<binding name="HelloWorldPortBinding" type="tns:HelloWorld">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="sayHelloWorld">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="MissingName">
				<soap:fault name="MissingName" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="HelloWorldService">
		<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
			<soap:address
				location="http://localhost:7001/HelloWorld/HelloWorldService" />
		</port>
	</service>
</definitions>